*{
    margin: 0;
    font-family: 'Inter';
}

#logo{
    margin-left: 50px;
    margin-top: 50px;
}

#higher-title{
    margin-left: 150px;
    margin-top: 50px;
}

#higher-text{
    margin-left: 150px;
    margin-top: 35px;
    padding-bottom: 100px;
}
#menusuperior{
    background-image: url('images/main-highter-scream.svg');
    color: aliceblue;   
}
#menuinformacional{
    background-color: #EAECE5;
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}
.icons{
    margin: 50px 0px 50px 100px;
    padding: 25px;
}
.textoinformativo{
    display: flex;
    align-items: center;
}
#secaovideo{
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}
#titulovideo{
    color: #247BA0;
    margin-top: 50px;
}
#video{
    margin: 50px 25px 50px 100px; 
}
.carrosel{
    background-color: #247BA0;
    padding: 50px 0px 50px 25px;

}
#titulo-carrosel{
    color: white;
    text-align: center;
    font-size: 25px;
}
#div-cards{
    /* background-color: red; */

    margin-top: 25px;
    margin-left: 30px;
    display: grid;
    grid-auto-flow: column;
    
}
.card{
    border: 0px solid;
    /* margin-left: 30px; */
}
#seta-esquerda{
    display: none;
}
#bruna{
    display: none;
}
.seta{
    /* background-color: red; */
    margin-top: 70%;
    cursor: pointer;
}
.seta:hover{
    transform:translateY(-7px);
    transition: 0.5s;
}
#formulario{
    text-align: center;
}
#titulo-formulario{
    font-size: 25px;
    margin: 25px;
    color: #383838;
}
input{
    width: 300px;
    height: 40px;
    background-color: #EAECE5;
    margin: 15px;
    border: 0;
    border-radius: 5px;
    padding-left: 10px;
}
button{
    background-color: #247BA0;
    height: 40px;
    width: 250px;
    color: #EAECE5;
    border: 0;
    border-radius: 5px;
    margin-bottom: 50px;
    font-weight: bolder;
    cursor: pointer;
}
button:hover{
    background-color: #318fb8;
    color: white;
    transform: translateY(-7px);
    box-shadow: 0px 15px 20px #05103081;
    transition-duration: 01s;
}